<div class="main-content">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-7">
        <div class="card chat-card">
          <div class="card-heading clearfix">
            <div class="card-heading-left">
              <div *ngIf="btnCondition" class="btn btn-danger" [ngClass]="{'btn-danger': true, 'btn-info': false}"
                      (click)="toggleBtnTxt(); startMicRecording()">
                <i class="icon material-icons">mic</i>
                Start Recording
              </div>

              <div  *ngIf="!btnCondition" class="btn btn-danger" (click)="stopRec()" [ngClass]="{'btn-danger': false, 'btn-info': true}"
              (click)="toggleBtnTxt();">
                <i class="material-icons">mic_off</i>
                Stop Recording  
              </div>

              <div class="btn btn-danger load-file"><i class="icon material-icons">file_upload</i> Load File
                <input type="file" ng2FileSelect [uploader]="uploader" accept="audio/*" (change)="onChange()"/>
              </div>
              <md-select placeholder="Select Patient" [(ngModel)]="selectedValue" >
                <md-option *ngFor="let pat of patient" [value]="pat._id" (click)="showOption(pat)">
                  {{ pat.name }}
                </md-option>
              </md-select>
              <div class="user-info" *ngIf="patient_name">
                  <p><strong>Patient:</strong>{{patient_name}}</p>
                  <p><strong>Email:</strong>{{patient_email}}</p>
              </div>
              <div class="progress" [ngStyle]="{'display': uploader.progress?'block':'none'}">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
              </div>
            </div>
            <div class="card-heading-right" *ngIf="cnt"><span> 1 of {{cnt}}</span>
              <div class="card-heading-rightbtn">
                <button><i class="icon material-icons">keyboard_arrow_down</i></button>
                <button><i class="material-icons">keyboard_arrow_up</i></button>
              </div>
            </div>
          </div>
          <div class="card-content chat-body" *ngIf="message.length > 0">
            <div *ngFor="let item of message">

              <div class="chat-timeline chat-timeline-right" *ngIf="item.speaker===0">
                <div class="chat-timeline-avtar">
                  <figure>T</figure>
                  <span> Therapist </span></div>
                <div class="chat-timeline-content">{{item.transcript}}</div>
              </div>

              <div class="chat-timeline chat-timeline-left" *ngIf="item.speaker > 0 ">
                <div class="chat-timeline-avtar">
                  <figure> P </figure>
                  <span>Patient</span></div>
                <div class="chat-timeline-content">{{item.transcript}}</div>
              </div>
              <!--<chatline *ngFor="let item of chatTimeLine" [chatInfo]="item" [timeLineClass]="item.userChatClass" [chatContent]="item.chatConent"></chatline>-->
            </div>
            <div class="voice-loader" *ngIf="!btnCondition"><img src="../assets/img/voice-loader.png" alt=""/></div>
          </div>
          <div class="card-content chat-bottom" *ngIf="message.length"></div>
        </div>
      </div>
      <div class="col-sm-5">
        <div class="card">
          <div class="card-content">
            <h4 class="calldanger-title">Call Danger of Self Harm</h4>
            <figure>
              <app-heat-map [rangeValue]="danger"></app-heat-map>
            </figure>
            <h4 class="recommend-title">Recommendations:</h4>
            <div *ngFor="let rec of recommendations; let k = index" class="recommendation-box " [ngClass]="{'openbox': rec.tags.length}">
              <div class="recommend-head" (click)="accordionTitleClick(k)" *ngIf="rec.tags.length">
                <div class="recommend-head-title"><span>{{rec.name}}</span></div>
                <div class="recommend-repeat"><span>{{rec.count}} Times</span></div>
                <div class="recommend-percent" *ngIf="rec.tags"><span>{{rec.percent}}%</span></div>
              </div>
              <div class="recommend-body" *ngIf="this.showSubItems[k]">
                <div *ngFor="let tags of rec.tags; let i=index" style="float:left">
                  <span *ngIf="i>0">, </span><label  (click)="cnt=tags.count"><strong>{{tags.tag}}</strong> </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card" *ngIf="tone">
          <div class="card-content sentimenatalbox">
            <div class="row">
              <div class="col-sm-6">
                <h4>Call Sentiments</h4>
                <figure class="pie-chart">
                  <div class="pie-chart-top">
                      <img src="assets/img/pie-chart.png" alt="pie">
                      <img src="assets/img/pin.png" [ngStyle]="sentiment" class="pie-pin" alt="pin" />
                      <div class="pie-chart-info clearfix">
                          <div class="pie-positive pull-left">Positive</div>
                          <div class="pie-negative pull-right">Negative</div>
                      </div>
                  </div>
                  <div class="pie-chart-bottom">
                      <img src="assets/img/emotion.jpg" alt="" />
                  </div>
              </figure>
              </div>
              <div class="col-sm-6" *ngIf="tone.length">
                <h4>Emotional status</h4>
                <figure>                  
                  <div class="emotion-strip">
                    <app-emotion-graph [emotionValue]="tone[0].score | round" [emotionText]="tone[0].tone_name"
                                       [emotionColor]="'#a9baa7'"></app-emotion-graph>
                  </div>
                  <div class="emotion-strip">
                    <app-emotion-graph [emotionValue]="tone[1].score | round" [emotionText]="tone[1].tone_name"
                                       [emotionColor]="'#5ba7db'"></app-emotion-graph>
                  </div>
                  <div class="emotion-strip">
                    <app-emotion-graph [emotionValue]="tone[2].score | round" [emotionText]="tone[2].tone_name"
                                       [emotionColor]="'#b9a4cb'"></app-emotion-graph>
                  </div>
                  <div class="emotion-strip">
                    <app-emotion-graph [emotionValue]="tone[3].score | round" [emotionText]="tone[3].tone_name"
                                       [emotionColor]="'#f397a4'"></app-emotion-graph>
                  </div>
                  <div class="emotion-strip">
                    <app-emotion-graph [emotionValue]="tone[4].score | round" [emotionText]="tone[4].tone_name"
                                       [emotionColor]="'#ffd529'"></app-emotion-graph>
                  </div>
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
