<div class="login login-wrap">
  <div class="container">
    <div class="register-wrap">
      <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <em style="color: red;">{{loginError}}</em>
              <form *ngIf="user" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                <h1 class="login-heading"><img src="../assets/img/logo.png" alt="logo" width="250"></h1>
                <h2><span style=" cursor:pointer; ">LOGIN</span></h2>

                <md-input-container class="full-width">
                  <input mdInput [(ngModel)]="user.email" formControlName="email" required placeholder="Email" [email]="true" />
                  <md-error>This field is required</md-error>
                </md-input-container>
                <br>
                <md-input-container class="full-width">
                  <input mdInput [(ngModel)]="user.password" required formControlName="password" placeholder="Password" type="password">
                  <md-error>This field is required</md-error>
                </md-input-container>
                <div class="row">
                  <div class="col-sm-6 form-group pull-left">
                    <md-checkbox>Remember Me</md-checkbox>
                  </div>
                  <div class="col-sm-6 form-group text-right">
                    <button class="btn btn-danger btn-login">Login</button>
                  </div>
                </div>
              </form>
              <span class="btn-link" style="float:center; cursor: pointer" (click)="this.router.navigate(['../register'])">New User! Sign Up</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
