<div class="heat-map">
  <div class="heat-map-wrap">
    <div class="heat-block green-1"></div>
    <div class="heat-block green-2"></div>
    <div class="heat-block green-3"></div>
    <div class="heat-block green-4"></div>
    <div class="heat-block green-5"></div>
    <div class="heat-block green-6"></div>
    <div class="heat-block yellow"></div>
    <div class="heat-block orange"></div>
    <div class="heat-block orange-2"></div>
    <div class="heat-block red"></div>
  </div>
  <div class="slidearrow" [ngStyle]="{'left': 'calc(' + rangeValue + '% - 12px)' }" ></div>
</div>