<div class="main-content">
        <div class="col-lg-6 col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="orange">
                    <h4 class="title">Patients Stats</h4>
                    <em style="color: white;">{{patient_error}}</em>
                </div>
                <div class="card-content table-responsive"   style="height:438px; overflow:auto">
                    <table class="table table-hover">
                        <thead class="text-warning">
                            <tr>
                                <th>SN</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Call</th>
                                <th>Transcription</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let p of patient; let k = index">
                                <!-- <td>{{p._id}}</td> -->
                                <td>{{k+1}}</td>
                                <td>{{p.name}}</td>
                                <td>{{p.email}}</td>
                                <td>                                            
                                    <div class="mt-2">
                                        <button class="btn btn-info" (click)="call(p)">
                                        Call
                                        </button>
                                    </div>
                                </td>
                                <td>                                        
                                    <div class="mt-2">
                                        <button class="btn btn-info" (click)="show(p)">
                                        Get All
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <div class="col-lg-6 col-md-12">
            <div class="card">
                    <div class="card-header" data-background-color="green">
                        <h4 class="title">Therapist Stats</h4>
                    </div>
                    <div class="card-content table-responsive"   style="height:438px; overflow:auto">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <tr>
                                    <th>ID</th>
                                    <th>Therapist</th>
                                    <th>Email</th>
                                    <th>Total Transcriptions </th>
                                    <th>Get Transcriptions </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let k of user_patient; let i = index">
                                    <td>{{i+1}}</td>
                                    <td>{{k.user.name}}</td>
                                    <td>{{k.user.email}}</td>
                                    <td style="text-align:center">{{k.patientCount}}</td>
                                    <td>                                        
                                        <div class="mt-2">
                                            <button class="btn btn-info" (click)="getTherapist(k.user)">
                                            Get All
                                            </button>
                                        </div>
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    </div>

    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="green">
                <h4 class="title">Transcription of Past 7 days</h4>
                <em style="color: white;">{{patient_error}}</em>
            </div>
            <div class="card-content table-responsive"   style="height:438px; overflow:auto">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <tr>
                            <th>Patient</th>
                            <th>Therapist</th>
                            <th>Date</th>
                            <th>Duration</th>
                            <th>Risk</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let patt of weekRecord">
                            <td>{{patt.patient_name}}</td>
                            <td>{{patt.therapist_name}}</td>
                            <td>{{patt.date | date}}</td>
                            <td>{{patt.duration}}</td>
                            <td *ngIf=patt.risk>{{patt.risk}}</td><td *ngIf=!patt.risk>0</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>